.footer_sec{
    background-color: #353535;
    padding: 60px 0px;
}
.footer_des{
    font-size: 14px;
    color: white;
    img{
        padding-bottom: 30px;
    }
    p{
        &:last-child{
            padding-top: 31px;
        }
    }
}
.contacts{
    h4{
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        padding-top: 16px;
        padding-bottom: 49px;
    }
    p{
        font-size: 14px;
        color: white;
        padding-bottom: 30px;
        &:last-child{
            padding-bottom: 0px;
        }
        i{
            padding-right: 29px;
        }
    }
}
.account{
    h4{
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        padding-top: 16px;
        padding-bottom: 49px;
    }
    a{
        display: block;
        font-size: 14px;
        color: white;
        padding-bottom: 18px;
        text-transform: capitalize;
        transition: 0.5s;
        &:last-child{
            padding-bottom: 0px;
        }
        &:hover{
            transform: translateX(8px);
            color: #de4644;
        }
    }
}
.footer_link{
    h4{
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        padding-top: 16px;
        padding-bottom: 30px;
    }
    form{
        width: 370px;
        padding-bottom: 14px;
        input{
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: transparent;
            border: 1px solid white;
        }
        button{
            width: 101px;
            height: 36px;
            border: 0px;
            color: white;
            background-color: #de4644;
            text-transform: uppercase;
        }
    }
}
.footer_list{
    width: 370px;
    li{
        a{
            color: black;
            font-size: 20px;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            margin-right: 24px;
            background-color: white;
            transition: 0.5s;
            &:hover{
                background-color: #de4644;
                color: white;
            }
        }
    }
}
.copy{
    background-color: #555555;
    color: white;
    font-size: 14px;
    p{
        span{
            color: #de4644;
        }
    }
}
.copy_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px !important;
    padding-bottom: 13px !important;
}