nav{
    padding: 30px 0px !important;
}
.navbar-nav{
    li{
        position: relative;
        margin: 0px 10.5px !important;
        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            height: 1px;
            width: 0;
            opacity: 0;
            transform: translate(5% , 0%);
            background-color: red;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }
        &:hover::after{
            opacity: 1;
            width: 50%;
        }
        &::before{
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            height: 1px;
            width: 0;
            opacity: 0;
            transform: translate(10% , 0%);
            background-color: red;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }
        &:hover::before{
            opacity: 1;
            width: 25%;
        }
        a{
            color: black;
            font-size: 16px;
            transition: 0.5s;
            text-transform: capitalize;
            padding: 11px 0px !important;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }
        a:hover{
            color: red;
        }
    }
    .link-nor{
        &:hover::after{
            opacity: 0;
        }
        &:hover::before{
            opacity: 0;
        }
        .btn{
            background-color: none !important;
            color: black;
            font-size: 17px;
        }
    }

}
.modal-content{
    bottom: -132px;
    left: 107%;
}